*.1
*.o
*.a
*.lib
*.la
*.lo
*.obj
*.dll
*.exp
*.lib
*.pdb
*.res
*.bak
*.sbr
*.suo
*.idb
*.bsc
*.intermediate.manifest
*.lastbuildstate
*.cache
*.ilk
*.ncb
*.tlog
*.sdf
*.opensdf
*.opt
*.pc
*.plg
*.log
*.spec
*.trs
*.vcxproj.user
*~
.deps/
.libs/
.dirstamp
stamp-*
Makefile
Makefile.in
POTFILES
/ABOUT-NLS
/aclocal.m4
/config.h
/config.h.in
/config.status
/configure
/dist
/libtool
/tmp-build
/lib/tre-config.h
/src/agrep
/tests/agrep/*.in
/tests/agrep/*.out
/tests/randtest
/tests/retest
/tests/test-str-source
/tests/wretest
